{% extends 'admin/layout.html.twig' %}
{% block content %}



    <div id="div_chart"></div>
    <div id="div_chart1"></div>
    <div id="div_histo"></div>

    <script type="text/javascript" src="{{ asset('loader.js') }}"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
        {{ gc_draw(piechart1, 'div_chart1') }}
        {{ gc_draw(cole, 'div_histo') }}

    </script>
{% endblock %}